S3method(coef,crm)
S3method(predict,crm)
S3method(print,crm)
S3method(print,crmlist)
export(Phi.boxplot)
export(Phi.mean)
export(accumulate_data)
export(cjs.hessian)
export(collapseCH)
export(compute.real)
export(create.model.list)
export(crm)
export(crm.wrapper)
export(fitHMM)
export(fix.parameters)
export(function.wrapper)
export(fx.aic)
export(fx.par.count)
export(js.hessian)
export(load.model)
export(make.design.data)
export(mcmc_mode)
export(merge_design.covariates)
export(model.table)
export(naive.survival)
export(p.boxplot)
export(p.mean)
export(predict.crm)
export(print.crm)
export(probitCJS)
export(process.ch)
export(process.data)
export(resight.matrix)
export(setup.model)
export(setup.parameters)
export(simHMM)
export(splitCH)
import(R2admb)
useDynLib(marked)
